* { 
    /* border: 1px solid black;  */
    font-family: Arial, sans-serif;
}



a {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin:0;
}

#navbar {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
}

#navbar a {
    margin: 0px 12px;
    font-size: 12px;
}

.nav-img {
    height: 30px;
    width: auto;
}

main {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#logo {
}

#searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 50vw;
    width: 580px;
    border:1px solid rgb(221, 221, 221);
    border-radius: 30px;
    height: 40px;
}

#searchbar:hover {
    box-shadow: 0 0 5px rgb(202, 202, 202);
}

#searchbox {
    border: none;
    outline:none;
    width: 80%;
}

#searchbar img {
    margin: 14px 8px 10px 6px;
    height: 28px;
}

#lower-buttons-div {
    display: flex;
    justify-content: space-between;
    padding: auto 10px;
    width: 270px;
    margin: 20px auto;
}

.lower-buttons {
    border-radius: 3px;
    border: none;
    background-color: hsl(0, 0%, 97%);
    color:rgb(66, 66, 66);
    width: 120px;
}

.lower-buttons:hover {
    box-shadow: 0 0 1px 1px rgb(180, 180, 180);
    text-decoration: none;
}

#lower-buttons-div input {
    font-size: 14px;
}

#IFL-button {
    color:rgb(66, 66, 66); 
    font-size: 14px;
    padding: 10px;
}

#lang-text {
    font-size: 13px;
}

#lang-text a {
    color: blue;
}

footer {
    padding: 0px 30px;
    height: 12vh;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    color:hsl(0, 0%, 40%);
}

#footer-top {
    padding: 12px 10px 12px 10px;
}

#footer-top p {
    margin: 0px;
}

#footer-bot {
    border-top: 1px solid rgb(200, 200, 200);
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-bot a {
    margin: 0px 10px;
    color:hsl(0, 0%, 40%);
    font-size: 14px;
}